In [1]:
import pandas
data=pandas.read_csv("data.csv")

In [3]:
print(data.head)

<bound method NDFrame.head of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>

In [5]:
print(data.sample())

        Date  Profit/Losses
52  May-2014         132864

In [6]:
number_months=data.count

In [10]:
number_months=data.shape[0]

In [11]:
print(number_months)

86

In [12]:
total=data["Profit/Losses"].sum()

In [13]:
print (total)

38382578

In [14]:
data["Previous Month"]=data["Profit/Losses"].shift(1)

In [16]:
print (data)

        Date  Profit/Losses  Previous Month
0   Jan-2010         867884             NaN
1   Feb-2010         984655        867884.0
2   Mar-2010         322013        984655.0
3   Apr-2010         -69417        322013.0
4   May-2010         310503        -69417.0
..       ...            ...             ...
81  Oct-2016         102685        768450.0
82  Nov-2016         795914        102685.0
83  Dec-2016          60988        795914.0
84  Jan-2017         138230         60988.0
85  Feb-2017         671099        138230.0

[86 rows x 3 columns]

In [17]:
data["Change"]=data["Profit/Losses"]-data["Previous Month"]

In [18]:
print (data)

        Date  Profit/Losses  Previous Month    Change
0   Jan-2010         867884             NaN       NaN
1   Feb-2010         984655        867884.0  116771.0
2   Mar-2010         322013        984655.0 -662642.0
3   Apr-2010         -69417        322013.0 -391430.0
4   May-2010         310503        -69417.0  379920.0
..       ...            ...             ...       ...
81  Oct-2016         102685        768450.0 -665765.0
82  Nov-2016         795914        102685.0  693229.0
83  Dec-2016          60988        795914.0 -734926.0
84  Jan-2017         138230         60988.0   77242.0
85  Feb-2017         671099        138230.0  532869.0

[86 rows x 4 columns]

In [20]:
average_change=data["Change"].mean(skipna=True)

In [21]:
print(average_change)

-2315.1176470588234

In [28]:
greatest_increase_idx=data["Change"].idxmax(skipna=True)
greatest_increase_month=data["Date"].iloc[greatest_increase_idx]
greatest_increase_value=data["Change"].iloc[greatest_increase_idx]

greatest_decrease_idx=data["Change"].idxmin(skipna=True)
greatest_decrease_month=data["Date"].iloc[greatest_decrease_idx]
greatest_decrease_value=data["Change"].iloc[greatest_decrease_idx]

In [29]:
print(greatest_increase_month, greatest_increase_value)
print(greatest_decrease_month, greatest_decrease_value)

Feb-2012 1926159.0
Sep-2013 -2196167.0

In [36]:
results=f"Financial Analysis \n----------\nTotal Months: {number_months} \nTotal: {total} \nAverage Change: {average_change} \nGreatest Increase: {greatest_increase_month} {greatest_increase_value} \nGreatest Decrease: {greatest_decrease_month} {greatest_decrease_value}"

In [38]:
print(results)

Financial Analysis
----------
Total Months: 86
Total: 38382578
Average Change: -2315.1176470588234
Greatest Increase: Feb-2012 1926159.0
Greatest Decrease: Sep-2013 -2196167.0

In [39]:
with open("results.txt","w") as f:
    f.write(results)

In [40]:
def print_save(results):
    print(results)
    with open("results.txt","w") as f:
        f.write(results)

In [41]:
print_save(results)

Financial Analysis
----------
Total Months: 86
Total: 38382578
Average Change: -2315.1176470588234
Greatest Increase: Feb-2012 1926159.0
Greatest Decrease: Sep-2013 -2196167.0

In [42]:
print_save(results)

Financial Analysis
----------
Total Months: 86
Total: 38382578
Average Change: -2315.1176470588234
Greatest Increase: Feb-2012 1926159.0
Greatest Decrease: Sep-2013 -2196167.0